@import "../../../assets/scss/include";

.loading-container {
  background-color: #f8beb6;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    img {
      width: 100%;
    }
  }
}

.loading-circle {
  @include animation-fix-no-z;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: $color-main-bg;
  border-radius: 50%;
  height: 100vh;
  width: 100vh;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: transform .5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: transform .7s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -ms-transition: transform .7s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: transform .7s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transition: transform .7s cubic-bezier(0.785, 0.135, 0.150, 0.860);

  &.active {
    -webkit-transform: translate(-50%, -50%) scale(4);
    -moz-transform: translate(-50%, -50%) scale(4);
    -ms-transform: translate(-50%, -50%) scale(4);
    -o-transform: translate(-50%, -50%) scale(4);
    transform: translate(-50%, -50%) scale(4);
  }
}
